/* CSS for index.html */

body {
    overflow: hidden;
    margin: 0;
    background: #334155;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}

#content {
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    place-content: center;
}

#content h1 {
    font-size: 28pt;
}

#content p {
    font-size: 16pt;
}